node_modules/node-red-contrib-contextbrowser/examples/contextbrowser-flow1.json
[
    {
        "id": "7c4026ff.849068",
        "type": "debug",
        "z": "812ce2eb.f47e5",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "ea5971c9.cbeea",
        "type": "inject",
        "z": "812ce2eb.f47e5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "9352cef.3acb43"
            ]
        ]
    },
    {
        "id": "9352cef.3acb43",
        "type": "function",
        "z": "812ce2eb.f47e5",
        "name": "change context",
        "func": "var nc = context.get('nc') || 0;\nnc = nc + 1;\ncontext.set('nc', nc);\ncontext.nc2 = nc;\nvar gc = context.global.get('gcount') || context.global.gcount || 0;\ngc = gc + nc + 1;\ncontext.global.set('gcount', gc);\n\ncontext.flow.set('ts', msg.payload);\ncontext.flow.ts2 = msg.payload;\n\nmsg.payload = { gc: gc,\nnc: nc,\nts: context.flow.get('ts') };\n\ncontext.global = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "7c4026ff.849068"
            ]
        ]
    }
]