Node_red/flows_LT15050001.json
[
    {
        "id": "f0ea67f7.9523a",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "f930ec3a.b76c9",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "ed6e0a8a.c521d",
        "type": "ui_group",
        "z": "f0ea67f7.9523a",
        "name": "Default",
        "tab": "f930ec3a.b76c9",
        "disp": true,
        "width": "20"
    },
    {
        "id": "1c7ae199.732a76",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4c995283.e30d94",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "f930ec3a.b76c9",
        "disp": true,
        "width": "6"
    },
    {
        "id": "eccdd2f2.072e68",
        "type": "inject",
        "z": "f0ea67f7.9523a",
        "name": "",
        "topic": "",
        "payload": "t     1 L  0 m0 OFF  rpm    0    0 set    0    0 sen    0    0    0 bum    0    0 dro    0    0 son   0 yaw   0 pit   0 rol   0 bat 677.0 chg 677.0  0.0 imu  0 adc  0 Mini",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 97,
        "y": 75,
        "wires": [
            [
                "647f75f.512830c"
            ]
        ]
    },
    {
        "id": "647f75f.512830c",
        "type": "join",
        "z": "f0ea67f7.9523a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "<br>",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "x": 294,
        "y": 145,
        "wires": [
            [
                "18d75dfa.bcaae2"
            ]
        ]
    },
    {
        "id": "f1012b4e.74b0d8",
        "type": "ui_template",
        "z": "f0ea67f7.9523a",
        "group": "ed6e0a8a.c521d",
        "name": "",
        "order": 0,
        "width": "20",
        "height": "10",
        "format": "<div id=\"console\" ng-bind-html=\"msg.payload\"></div>\n \n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 658,
        "y": 110,
        "wires": [
            [
                "647f75f.512830c"
            ]
        ]
    },
    {
        "id": "18d75dfa.bcaae2",
        "type": "function",
        "z": "f0ea67f7.9523a",
        "name": "TrimConsole",
        "func": "var length = msg.payload.toString().length;\nvar keeplength = 10000;\n\nif (length > keeplength ){\n    var begin = length - keeplength;\n    \n    msg.payload = msg.payload.toString().substring(begin);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 466,
        "y": 160,
        "wires": [
            [
                "f1012b4e.74b0d8"
            ]
        ]
    }
]