Node_red/flows_orangepizero.json
[{"id":"41e9c17b.3f55b","type":"tab","label":"Ardumower Control Center","disabled":false,"info":""},{"id":"852b5591.d19598","type":"subflow","name":"Control","info":"Use to Control Ardumower Menu","in":[],"out":[]},{"id":"2aeeec7c.783634","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd17eb7a.f23798","type":"ui_group","z":"","name":"Control","tab":"bfbf594c.da65c8","order":1,"disp":true,"width":"12"},{"id":"bfbf594c.da65c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"f9ca1fb8.d175d","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"aafb7e6c.1853","type":"ui_group","z":"","name":"Control","tab":"5de3bfd3.3f819","disp":true,"width":"18"},{"id":"5de3bfd3.3f819","type":"ui_tab","z":"","name":"Serial Monitor","icon":"dashboard","order":2},{"id":"177adbe8.adb3c4","type":"ui_group","z":"","name":"Power","tab":"bfbf594c.da65c8","order":2,"disp":true,"width":"6"},{"id":"7516f505.0c9964","type":"ui_group","z":"","name":"Firing Slips","tab":"cc4f32c6.24009","order":1,"disp":true,"width":"12"},{"id":"ab81a799.931928","type":"ui_group","z":"","name":"Pottery Form","tab":"cc4f32c6.24009","order":2,"disp":true,"width":"12"},{"id":"b4e0f777.1ec97","type":"ui_group","z":"","name":"Pottery Template Form","tab":"cc4f32c6.24009","order":1,"disp":true,"width":"6"},{"id":"cc4f32c6.24009","type":"ui_tab","z":"","name":"Pottery","icon":"dashboard","order":3},{"id":"3ecd62b5.7866ae","type":"ui_group","z":"","name":"Console","tab":"20aeb2b4.10fe16","disp":false,"width":"27"},{"id":"20aeb2b4.10fe16","type":"ui_tab","z":"","name":"File Browser","icon":"dashboard","order":4},{"id":"dc166c34.90974","type":"serial in","z":"41e9c17b.3f55b","name":"ArdumowerSerial","serial":"f9ca1fb8.d175d","x":168.70001220703125,"y":89,"wires":[["77263fb7.5c6ba","b2d6cdce.e20a3","2196ec73.eaa244","8e859ca4.5d9048"]]},{"id":"77263fb7.5c6ba","type":"function","z":"41e9c17b.3f55b","name":"getBatValue","func":"var batbegin = msg.payload.toString().search('bat');\n\nif (batbegin == -1){\n    msg.payload = 0;\n}\nelse{\nbatbegin = batbegin + 4;\n\nvar batValue =  msg.payload.toString().substr(batbegin, 4);\nmsg.payload = batValue;\n}\nreturn msg;","outputs":1,"noerr":0,"x":361.70001220703125,"y":222.20001220703125,"wires":[["c027ece.ed5711"]]},{"id":"c027ece.ed5711","type":"ui_gauge","z":"41e9c17b.3f55b","name":"","group":"177adbe8.adb3c4","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"units","format":"{{value}}","min":"9","max":"14","colors":["#c93636","#e6e600","#1bea15"],"seg1":"10","seg2":"11.5","x":546.7000160217285,"y":222.40000820159912,"wires":[]},{"id":"b2d6cdce.e20a3","type":"debug","z":"41e9c17b.3f55b","name":"","active":false,"console":"false","complete":"false","x":388.7000160217285,"y":46.00000858306885,"wires":[]},{"id":"63f0684e.e1a208","type":"serial out","z":"41e9c17b.3f55b","name":"ArdumowerSerial","serial":"f9ca1fb8.d175d","x":410,"y":460,"wires":[]},{"id":"2196ec73.eaa244","type":"function","z":"41e9c17b.3f55b","name":"getChgValue","func":"var chgbegin = msg.payload.toString().search('chg');\n\nif (chgbegin == -1){\n    msg.payload = 0;\n}\nelse{\nchgbegin = chgbegin + 4;\n\nvar chgValue =  msg.payload.toString().substr(chgbegin, 4);\nmsg.payload = chgValue;\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":272,"wires":[["610a47a5.373718"]]},{"id":"610a47a5.373718","type":"ui_gauge","z":"41e9c17b.3f55b","name":"","group":"177adbe8.adb3c4","order":2,"width":0,"height":0,"gtype":"gage","title":"Charging Voltage","label":"units","format":"{{value}}","min":"0","max":"14","colors":["#c93636","#e6e600","#1bea15"],"seg1":"","seg2":"","x":553.0000152587891,"y":273.19998502731323,"wires":[]},{"id":"8e859ca4.5d9048","type":"join","z":"41e9c17b.3f55b","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"<br>","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":410,"y":100,"wires":[["f6bbb958.4fee9"]]},{"id":"35b802bf.64c0d6","type":"ui_template","z":"41e9c17b.3f55b","group":"aafb7e6c.1853","name":"","order":0,"width":"15","height":"6","format":"<div id=\"console\" ng-bind-html=\"msg.payload\" style=\"font-size:10px;\"></div>\n \n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":80,"wires":[["8e859ca4.5d9048"]]},{"id":"f6bbb958.4fee9","type":"function","z":"41e9c17b.3f55b","name":"TrimConsole","func":"var length = msg.payload.toString().length;\nvar keeplength = 5000;\n\nif (length > keeplength ){\n    var begin = length - keeplength;\n    \n    msg.payload = msg.payload.toString().substring(begin);\n}\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":115,"wires":[["35b802bf.64c0d6"]]},{"id":"239298ea.02e41","type":"ui_text_input","z":"41e9c17b.3f55b","name":"edtSend","label":"Send","group":"aafb7e6c.1853","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":126.5,"y":398.8000030517578,"wires":[["63f0684e.e1a208"]]},{"id":"4b3f65a3.a00994","type":"ui_template","z":"41e9c17b.3f55b","group":"fd17eb7a.f23798","name":"Camera","order":1,"width":"7","height":"6","format":"<iframe id=\"camera\" seamless width=\"100%\" height=\"100%\"></iframe>\n<script>\n(function(scope) {\n    // debugger;\n    window.ifr = document.getElementById(\"camera\");\n    window.ifr.src=\"http://192.168.178.10:8081\";\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":120,"y":340,"wires":[[]]},{"id":"7ef98469.e6f354","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"Mow on/off","color":"","bgcolor":"","icon":"","payload":"nm","payloadType":"str","topic":"","x":125.5,"y":515.7999725341797,"wires":[["63f0684e.e1a208"]]},{"id":"e7084784.01eb5","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"STOP","color":"","bgcolor":"","icon":"","payload":"ns","payloadType":"str","topic":"","x":94.5,"y":554.7999725341797,"wires":[[]]},{"id":"9da2edf3.688aa","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"Forward","color":"","bgcolor":"","icon":"","payload":"nf","payloadType":"str","topic":"","x":97.5,"y":595.7999725341797,"wires":[[]]},{"id":"f74ef0e3.05098","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"Back","color":"","bgcolor":"","icon":"","payload":"nb","payloadType":"str","topic":"","x":78.5,"y":639.8000030517578,"wires":[[]]},{"id":"7b467e37.fc1b3","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"Left","color":"","bgcolor":"","icon":"","payload":"nl","payloadType":"str","topic":"","x":82.5,"y":691.7999725341797,"wires":[[]]},{"id":"124eba1f.3ccbd6","type":"ui_button","z":"41e9c17b.3f55b","name":"","group":"fd17eb7a.f23798","order":0,"width":0,"height":0,"passthru":false,"label":"Right","color":"","bgcolor":"","icon":"","payload":"nr","payloadType":"str","topic":"","x":81.5,"y":743.7999725341797,"wires":[[]]}]