node_modules/node-red-contrib-ibm-watson-iot/examples/Time-Inject.json
[{"id":"8e96abf5.f02898","type":"wiotp out","z":"84754ffd.7b8ab","authType":"d","qs":"true","qsDeviceId":"","deviceType":"","deviceId":"","event":"","format":"json","name":"","x":560,"y":360,"wires":[]},{"id":"800fe1ca.601c2","type":"inject","z":"84754ffd.7b8ab","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":160,"y":360,"wires":[["f6214671.0d8b48"]]},{"id":"f6214671.0d8b48","type":"function","z":"84754ffd.7b8ab","name":"Generate time data","func":"// Convert timestamp in milliseconds to a number in 0-20 range\nmsg.payload = Math.floor((msg.payload/1000))%20;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["8e96abf5.f02898"]]},{"id":"dd8bb339.d2669","type":"comment","z":"84754ffd.7b8ab","name":"Simple time inject to Watson IoT","info":"Sends data to Watson IoT Platform every two seconds.\n\nAfter deploying the example, open the Watson IoT\nnode and click the button to take you to the Quickstart\ndashboard for your flow.\n\n","x":210,"y":320,"wires":[]}]
